Virtual Data Container (VDC)/nifi_templates/ack_vdc_api.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>a36bde90-0181-1000-fdd7-900248beec05</groupId>
    <name>ack_vdc_api</name>
    <snippet>
        <processGroups>
            <id>b3d5dcc5-d015-394b-0000-000000000000</id>
            <parentGroupId>23dcad3d-1eeb-36de-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>13dd60a0-29e4-32d9-0000-000000000000</id>
                    <parentGroupId>b3d5dcc5-d015-394b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b3d5dcc5-d015-394b-0000-000000000000</groupId>
                        <id>9c7f8bc0-d1f4-3376-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b3d5dcc5-d015-394b-0000-000000000000</groupId>
                        <id>3799be46-5b3a-3a0b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>97c7dc36-d1cf-3d02-0000-000000000000</id>
                    <parentGroupId>b3d5dcc5-d015-394b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b3d5dcc5-d015-394b-0000-000000000000</groupId>
                        <id>fe5f8b45-9dd9-351f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b3d5dcc5-d015-394b-0000-000000000000</groupId>
                        <id>3680ee40-4bfa-3356-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b772aff1-d59e-3640-0000-000000000000</id>
                    <parentGroupId>b3d5dcc5-d015-394b-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b3d5dcc5-d015-394b-0000-000000000000</groupId>
                        <id>3680ee40-4bfa-3356-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b3d5dcc5-d015-394b-0000-000000000000</groupId>
                        <id>9c7f8bc0-d1f4-3376-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>456c4cbf-3d1c-30a7-0000-000000000000</id>
                    <parentGroupId>b3d5dcc5-d015-394b-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-http-context-map-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                            <value>
<name>Maximum Outstanding Requests</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                            <value>
<name>Request Expiration</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>ack_vdc_api_StandardHttpContextMap</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                            <value>5000</value>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                            <value>1 min</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.http.StandardHttpContextMap</type>
                </controllerServices>
                <processors>
                    <id>3680ee40-4bfa-3356-0000-000000000000</id>
                    <parentGroupId>b3d5dcc5-d015-394b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-208.0</x>
                        <y>504.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>ack-status</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>3799be46-5b3a-3a0b-0000-000000000000</id>
                    <parentGroupId>b3d5dcc5-d015-394b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-208.0</x>
                        <y>112.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
<value>
    <name>Allowed Paths</name>
</value>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>
    <name>Default URL Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>
    <name>Allow GET</name>
</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>
    <name>Allow POST</name>
</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>
    <name>Allow PUT</name>
</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>
    <name>Allow DELETE</name>
</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>
    <name>Allow HEAD</name>
</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>
    <name>Allow OPTIONS</name>
</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
<value>
    <name>Additional HTTP Methods</name>
</value>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>
    <name>Client Authentication</name>
</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>
    <name>container-queue-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>
    <name>multipart-request-max-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>
    <name>multipart-read-buffer-size</name>
</value>
                            </entry>
                            <entry>
<key>parameters-to-attributes</key>
<value>
    <name>parameters-to-attributes</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Listening Port</key>
<value>${nifi.vdc.ackApi.http.port}</value>
                            </entry>
                            <entry>
<key>Hostname</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>456c4cbf-3d1c-30a7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
<value>/ackVdc</value>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>No Authentication</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>50</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>512 KB</value>
                            </entry>
                            <entry>
<key>parameters-to-attributes</key>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>HandleHttpRequest</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
                </processors>
                <processors>
                    <id>9c7f8bc0-d1f4-3376-0000-000000000000</id>
                    <parentGroupId>b3d5dcc5-d015-394b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-208.0</x>
                        <y>312.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>ack-status</key>
<value>
    <name>ack-status</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>ack-status</key>
<value>Received</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>fe5f8b45-9dd9-351f-0000-000000000000</id>
                    <parentGroupId>b3d5dcc5-d015-394b-0000-000000000000</parentGroupId>
                    <position>
                        <x>-208.0</x>
                        <y>696.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.3</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Status Code</key>
<value>
    <name>HTTP Status Code</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to add to the HTTP Response (Regex)</key>
<value>
    <name>Attributes to add to the HTTP Response (Regex)</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Status Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>456c4cbf-3d1c-30a7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Attributes to add to the HTTP Response (Regex)</key>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>HandleHttpResponse</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>ack_vdc_api</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>07/04/2022 04:55:51 UTC</timestamp>
</template>
